<html>
<head>
<link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<a href='/logout'>Log out</a>
<body> 
    <div>
    <h3>Time Line</h3>
</div>
    <div>
        <input type='text' name='tweet' placeholder='What is going on?' required/> <br>
    <input type='submit' value='Tweet' class='button'/> 
</div>
    <div>
            <% for(var i=0; i<tweets.length; i++) { %>
                <div class="tweets">
                    <h5 id='user'><%= '@' + user %></h5>
                    <p><%= tweets[i] %></p>
                </div>
            <% } %>
    </body>
</div>
</html>